@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/cubano');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-pro?styles=17636,17630,17640,17632,17634,17638,17628,17626');

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgb(0, 0, 0), rgb(31, 35, 37));
    color: #b2becd;
    font-family: 'Sofia Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.margin {
    margin-top: 2rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.marked {
    background-color: #EAB308;
}

.unmarked {
    background-color: rgb(31, 35, 37);
}

h1 {
    font-weight: 900;
    font-size: 2.8rem;
    font-family: 'Sofia Pro', sans-serif;
    color: white;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

.game-section {
    flex: 2;
    width: 100%;
}

.choice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #EAB308;
}

.choice-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 1050px;
    padding-top: 1rem;
}

.choice-section-item {
    width: 150px;
    height: 150px;
    /* background-color: rgb(18,24,27); */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 7px solid rgb(52, 52, 65); */
    border-radius: 100%;
    margin: 0 10px;
    cursor: pointer;
}

.choice-section-item:hover {
    scale: 1.05;
    /* background-color: #ecc757; */
}

.choice-section-item:active {
    scale: 1.08;
}

.rock-paper-scissor-img {
    height: 90px;
}

/* =========================== DUEL ================================= */

.duel-container {
    width: 100%;
    padding: rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(106, 142, 209); */
    /* background-color:#aaa5a5 ; */

}

.duel-section {
    min-width: 500px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 2rem;
}

.duel-section-item {
    /* border: 1px solid red; */
    height: 250px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.duel-section-result {
    /* border: 1px solid red; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.duel-margin {
    margin-top: 20px;
}

/* =========================== HISTORY ================================= */

.history-container {
    /* min-height: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 3rem; */
    /* margin-bottom: 3rem; */
}

.history-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* overflow: scroll; */
}

.history-section-item {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    /* border: 1px solid red; */
    min-width: 300px;
}

p {
    font-size: 0.8rem;
    font-weight: 300;
}

.history-section-item-p {
    font-size: 1.2rem;
}

.p-margin {
    margin-top: 1rem;
}

/* =========================== FOOTER ================================= */

footer {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* =========================== END WINDOW ================================= */

.end-window {
    position: fixed;
    z-index: 1;
    width: 400px;
    height: 200px;
    background-color: #474747;
    /* border: 2px solid ; */
    border-radius: 30px;
    /* transform: translate(-50%, -50%) scale(0); */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.active {
    display: flex;

}

.low-opacity {
    opacity: 0.1;
}


.end-window > h2 {
    font-weight: 900;
    font-size: 2.8rem;
    color: white;
}

.end-window > p {
    font-weight: 500;
    font-size: 1.2rem;
}

.end-window > button {
    background-color: #EAB308;
    border: 0;
    border-radius: 25px;
    width: 240px;
    height: 50px;
    font-weight: 900;
    font-size: 1.4rem;
    margin-top: 10px;
    color: white;
}

.end-window > button:hover {
    scale: 1.03;
    cursor: pointer;
}

.end-window > button:active {
    scale: 1.05;
}